@import "normalizest";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  line-height: 1.15;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include centererPos();

  p {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
}

.carousel-cell {
  width: 100%; /* full width */
  height: 50vh; /* height of carousel */
  min-height: 250px;
  margin-right: 10px;
  background-size: cover;
  opacity: .8;
  background-color: #000;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  position: absolute;
  top: 5px;
  z-index: 999;
  right: 10px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button, select {
  text-transform: none;
}

.flickity-button-sec {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  z-index: 99;
}

.progress-bar__bar {
  height: 20px;
  width: 0;
  background: #333;
  margin-bottom: 30px;
}


.links a {
  &:hover {
    color: gray;
  }

.google-map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */

}


@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(max-width: 1200px) {
  @include grid('xl');
}


